











/* 
.main-header {
  display: flex;             
  justify-content: space-between; 
  align-items: center;       
  padding: 1rem 2rem;        
  background-color: #2ea84f; 
  color: white;              
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 

  .logo-area h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  .nav-links {
    display: flex;
    gap: 20px; 

    a {
      color: rgb(255, 253, 253);
      text-decoration: none; 
      font-weight: 500;
      transition: opacity 0.3s;

      &:hover { 
        opacity: 0.8;
      }
    }
  }

  .logout-btn {
    background-color: rgb(8, 7, 7);
    color: #0d0c0d;
    border: none;
    padding: 8px 16px;
    border-radius: 4px; 
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background-color: #e6e6e6;
    }
  }


  .login-btn {
    border-: px;
    background-color: transparent;
    color: #e6e6e6;

  }

  .sing-in-btn{
    margin-right: 15px;
  }
} */