<div class="modal-backdrop">
  <div class="modal-container">

    <!-- Header -->
    <div class="modal-header">
      <h5 class="mb-0">
        {{ receta.id ? 'Editar Receta' : 'Crear Receta' }}
      </h5>
      <button type="button" class="btn-close" (click)="cerrar.emit()"></button>
    </div>

    <!-- Body -->
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="receta.nombre">
      </div>

      <div class="mb-3">
        <label class="form-label">Descripción</label>
        <textarea class="form-control" [(ngModel)]="receta.descripcion"></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label">Calorías Totales</label>
        <input type="number" class="form-control" [(ngModel)]="receta.caloriasTotales">
      </div>
    </div>

    <!-- Footer -->
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="cerrar.emit()">Cancelar</button>
      <button class="btn btn-primary" (click)="guardarReceta()">Guardar</button>
    </div>

  </div>
</div>
