annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
cachetools==6.2.6
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.1
contourpy==1.3.3
cryptography==46.0.7
cuda-bindings==13.2.0
cuda-pathfinder==1.5.2
cuda-toolkit==13.0.2
cycler==0.12.1
deprecation==2.1.0
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.128.1
fastapi-azure-auth==5.2.0
filelock==3.25.2
fonttools==4.62.1
fsspec==2026.3.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
Jinja2==3.1.6
kiwisolver==1.5.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
mmh3==5.2.1
mpmath==1.3.0
multidict==6.7.1
networkx==3.6.1
numpy==2.3.3
nvidia-cublas==13.1.0.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.19.0.56
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.0
nvidia-nccl-cu13==2.28.9
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
opencv-python==4.11.0.86
packaging==26.0
pillow==12.2.0
polars==1.39.3
polars-runtime-32==1.39.3
postgrest==2.28.3
propcache==0.4.1
psutil==7.2.2
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.20.0
pyiceberg==0.11.1
PyJWT==2.12.1
pyparsing==3.3.2
pyroaring==1.0.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.20
PyYAML==6.0.3
realtime==2.28.3
requests==2.33.1
rich==14.3.4
scipy==1.17.1
setuptools==81.0.0
six==1.17.0
starlette==0.50.0
storage3==2.28.3
StrEnum==0.4.15
strictyaml==1.7.3
style==1.1.0
supabase==2.28.3
supabase-auth==2.28.3
supabase-functions==2.28.3
sympy==1.14.0
tenacity==9.1.4
torch==2.11.0
torchvision==0.26.0
triton==3.6.0
typing-inspection==0.4.2
typing_extensions==4.15.0
ultralytics==8.4.22
ultralytics-thop==2.0.18
update==0.0.1
urllib3==2.6.3
uvicorn==0.40.0
websockets==15.0.1
yarl==1.23.0
zstandard==0.25.0
