.main-footer{
  background: linear-gradient(135deg,#065f46,#047857);
  color:white;
  margin-top:80px;
}

.footer-top{
  max-width:1200px;
  margin:auto;
  padding:60px 20px;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:40px;
  align-items:center;
  text-align:center;
}

.footer-col{
  display:flex;
  flex-direction:column;
  gap:10px;

  h4{
    font-size:1.1rem;
    margin-bottom:10px;
    font-weight:600;
  }

  a{
    color:#d1fae5;
    text-decoration:none;
    font-size:0.95rem;
    transition:0.2s;

    &:hover{
      color:white;
    }
  }
}

.link-btn{
  background:none;
  border:none;
  color:#d1fae5;
  cursor:pointer;
  font-size:0.95rem;
  text-align:center;

  &:hover{
    color:white;
  }
}

.footer-center{

  .brand{
    font-size:1.8rem;
    font-weight:700;
    margin-bottom:4px;
  }

  .brand-sub{
    font-size:0.9rem;
    color:#a7f3d0;
    margin-bottom:18px;
  }
}

.social-icons{
  display:flex;
  justify-content:center;
  gap:15px;

  a{
    width:38px;
    height:38px;
    border-radius:50%;
    background:white;
    color:#047857;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.1rem;
    transition:0.25s;

    &:hover{
      transform:translateY(-3px);
      background:#10b981;
      color:white;
    }
  }
}

.footer-bottom{
  background:#022c22;
  text-align:center;
  padding:15px;
  font-size:0.85rem;
  color:#a7f3d0;
}