<footer class="main-footer">

  <div class="footer-top">

    <!-- LINKS IZQUIERDA -->
    <div class="footer-col">
      <h4>Legal</h4>
      <a href="#">Política de Privacidad</a>
      <a href="#">Cookies</a>

      <button class="link-btn" (click)="abrirTerminos()">
        Términos y Condiciones
      </button>

      <a href="#">Uso de Datos</a>
    </div>


    <!-- LOGO + REDES -->
    <div class="footer-center">

      <h2 class="brand">NutriSync</h2>
      <p class="brand-sub">Tecnología que cuida tu alimentación</p>

      <div class="social-icons">

        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-youtube"></i></a>
        <a href="#"><i class="bi bi-linkedin"></i></a>

      </div>

    </div>


    <!-- LINKS DERECHA -->
    <div class="footer-col">
      <h4>Explorar</h4>
      <a href="#">Blog</a>
      <a href="#">Contacto</a>
      <a href="#">FAQs</a>
      <a href="#">Comunidad</a>
    </div>

  </div>


  <!-- FOOTER BOTTOM -->
  <div class="footer-bottom">

    <p>
      NutriSync © 2026 | Proyecto Universitario
      | Tecnología de nutrición inteligente
    </p>

  </div>


  <!-- MODAL -->
  <app-terms-conditions
    *ngIf="mostrarTerminos"
    (close)="mostrarTerminos = false">
  </app-terms-conditions>

</footer>