<footer class="main-footer">
  <div class="container-fluid footer-container">
    
    <div class="footer-left">
      <span class="brand-text">NutriSync</span>
    </div>

    <div class="footer-links">
      <a href="#">Privacidad</a>

      <!-- BOTÓN TÉRMINOS -->
      <button class="link-btn" (click)="abrirTerminos()">
        Términos
      </button>

      <a href="#">Soporte</a>
    </div>

    <div class="footer-copy">
      © 2026 Proyecto Universitario
    </div>
  </div>

  <!-- MODAL DE TÉRMINOS -->
 <app-terms-conditions
    *ngIf="mostrarTerminos"
    (close)="mostrarTerminos = false">
  </app-terms-conditions>
</footer>