.metricas-container {
  padding: 2rem;
}

.powerbi-container {
  margin-top: 2rem;
  height: 500px;
  border-radius: 12px;
  background-color: #fefefe;
  box-shadow: 0 4px 12px rgba(255, 4, 4, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
}

.margen {
  text-align: center;
  color: #e50404;
  font-size: 1rem;
}
